extends layout

block content
  if (!user)
    .container#IDX(data-path='index')
      .jumbotron.text-center
        h1 Witaj
        p
          | Witamy w zdalnym stytemie treningowym urządzenia Cyklotren
        p Jeśli posiadasz już konto w naszym systemie zaloguj się, jeśli nie zapraszamy do rejestracji
        p.text-right
          a.btn.btn-lg.btn-primary(href='../../components/#navbar', role='button') Czytaj więcej »
  if (user)
    .container.add#IDX(data-path='index')
      .jumbotron.text-center
        h1 Witaj #{user.username}
        p
          | Witamy w zdalnym stytemie treningowym urządzenia Cyklotren
        p Proszę rozpocznij czat z ternerem lub obejrzyj dane ze swoich ćwiczeń
        p.text-right
          a.btn.btn-lg.btn-primary(href='../../components/#navbar', role='button') Pomoc »
