doctype html
html
  head
    title CyklotrenWWW

    //Menu
    link(rel='stylesheet', href='icons/style.css')
    //link(rel='stylesheet', href='stylesheets/menu/icononav.css')
    link#theme-toggle(rel='stylesheet', href='public/css/skins/flat.css')

    //Main CSS
    link(rel='stylesheet', href='/stylesheets/style.css')

    //Material bootstrap CSS
    link(rel='stylesheet', href='/bootstrap-material-design-master/dist/css/bootstrap-material-design.css')
    link(rel='stylesheet', href='/bootstrap-material-design-master/dist/css/ripples.css')



  body(data-path='<%= path %>')
    //NAVBAR
    include parts/navbar
    if (!user)
    .container
    if (user)
    .container.add
      //FLASH ERRORS
      include errors/error_flash
    //CONTENT
    block content

  //BOTTOM MAIN SCRIPTS
  //JQUERY
  script(src='/jquery/dist/jquery.js')
  //BOOTSTRAP
  script(src='bootstrap-sass/assets/javascripts/bootstrap.js')
  //MATERIAL BOOTSTRAP
  script(src='bootstrap-material-design-master/dist/js/material.js')
  script(src='bootstrap-material-design-master/dist/js/ripples.js')
  //Menu
  script(src='javascripts/scripts.min.js')
  //INIT MATERIAL DESIGN
  script.
    $.material.init()

  script.
    $( document ).ready(function() {
      $(function () {
        var path = $('#IDX').attr('data-path');
        $('#' + path).addClass('active');
      });
    });
