extends ../layout

block content
    .container
        #containerx(style='min-width: 310px; height: 400px; margin: 0 auto')

block scripts_bottom
    script(src='javascripts/page_script/user_charts.js')